{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block description %}Official Website for Dr. Kendra D. Sims, PhD{% endblock %}

{% block content %}

    <main> 
        <!--? Hero area S t a r t-->
        <div class="slider-area">
            <div class="slider-height2 slider-bg2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9">
                            <div class="hero-caption hero-caption2">
                                <h2>About Me</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!--  Hero area End -->

        <!--? About Area  01-->
        <section class="about-area section-bg section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                        <div class="section-tittle mb-40">
                            <span>Who Am I</span>
                            <h2>Dr. Kendra D. Sims, PhD</h2>
                        </div>
                        <!-- about-img -->
                        <div class="about-img about-img1  ">
                            <img src="{% static 'pages/assets/img/gallery/about1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="offset-xl-1 offset-lg-0 offset-sm-1 col-xxl-5 col-xl-5 col-lg-6 col-md-9 col-sm-11">
                        <div class="about-caption about-caption1">
                            <!-- Section Tittle -->
                            <div class="section-tittle m-0">
                                <p class="mb-30">Instead of granting all residents equal opportunity to age with dignity, many Americans experience chronic conditions that lead to high healthcare costs and reduced quality of life. I contribute to the growing body of evidence that quantifies the poor health outcomes downstream from inequality on the individual as well as structural level. To that end, data science is my outlet for advocacy.</p>
                                <p>By focusing on factors such as race and socioeconomic status as independent risk factors for disease, the medical model treats marginalized people as doomed to premature morbidity and mortality. In my research, I push back against the assumption that sociodemographic factors are innate and unchangeable determinants of health. Instead, political and social institutions have perpetuated generations of health inequity. I ultimately want to develop translational interventions and policies to help older adults prevent, delay, and recover from disabling conditions.</p>
                                <p>The importance of a lifelong investment in health becomes more evident as we approach older age. I want to provide people resources to age independently in their communities. These health-promoting tools include knowledge about and opportunities for sustainable health behaviors, fostering social connections, and managing ambient stress. To achieve health equity, we will need clinicians and policy makers to facilitate changes in the social and built environment. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area E n d -->

        <!--? Testimonial S t a r t -->
        <div class="testimonial-area">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center t-color">
                    <div class="col-xl-8 col-lg-8">
                        <div class="h1-testimonial-active dot-style testimonial-padding">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>“I contribute to the growing body of evidence that quantifies the many poor health outcomes downstream from biased treatment. To that end, data science is my main outlet for advocacy.”</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder  ">
                                        <div class="founder-img">
                                            <span>Dr. Kendra D. Sims, PhD</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial E n d -->

        <!--? About Area  -->
        <section class="about-area1 section-padding">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-9">
                        <div class="about-caption ">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-40">
                                <span>Curriculum Vitae</span>
                                <h2>Most Recent Experience</h2>
                            </div>
                            <div class="single-about">
                                <h5>Postdoctoral Scholar</h5>
                                <p>University of California San Francisco, Department of Epidemiology and Biostatistics</p>
                            </div>
                            <div class="single-about">
                                <h5>Graduate Teaching Assistant, “Lifetime Fitness for Health”</h5>
                                <p>Oregon State University College of Public Health and Human Sciences</p>
                            </div>
                            <div class="single-about">
                                <h5>Graduate Research Assistant</h5>
                                <p>Stanford University School of Medicine, Department of Health Research &amp; Policy</p>
                            </div>
                            <div class="single-about b-0" style="border-bottom: transparent">
                                <h5>Instructor, “Introduction to Public Health”</h5>
                                <p>Oregon State University College of Public Health and Human Sciences</p>
                            </div>
                            <a href="{% static 'pages/assets/documents/KSimsCV2021Oct.pdf' %}" target="_blank" class="border-btn border-btn2 mt-20">Download CV</a>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-6 col-lg-6 col-md-8">
                        <!-- about-img -->
                        <div class="about-img about-img1  ">
                            <img src="{% static 'pages/assets/img/gallery/about2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area E n d -->
        
    </main>
    
{% endblock content %}